@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

/* Custom shadow classes */
.shadow-custom { 
  box-shadow: 0px 5.33px 80px 0px rgba(0, 0, 0, 0.1); 
}

.shadow-card { 
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.15); 
}
